<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Welcome">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
         @if (!User.IsInRole("SuperAdmin"))
    {
        <div class="sidebar-brand-text mx-3">Admin</div>
    }else{
            <div class="sidebar-brand-text mx-3"> Super Admin</div>
    }
      
        
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Home/Welcome">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Order Management
    </div>

    <!-- Nav Item - Take Order -->
    <li class="nav-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Parcel" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "Form" ? "active" : "")">
        <a class="nav-link" href="/Parcel/Form">
            <i class="fa fa-plus"></i> Take Order
        </a>
    </li>

    <!-- Nav Item - Order Table -->
    <li class="nav-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Parcel" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "OrderTable" ? "active" : "")">
        <a class="nav-link" href="/Parcel/OrderTable">
            <i class="fas fa-table"></i> Order Table
        </a>
    </li>

    <!-- Nav Item - Assign a Rider -->
    <li class="nav-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Order" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "AssignRider" ? "active" : "")">
        <a class="nav-link" href="/Order/AssignRider">
            <i class="fas fa-biking"></i> Assign a rider
        </a>
    </li>

    <!-- Nav Item - Shipments -->
    <li class="nav-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Order" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "Shipment" ? "active" : "")">
        <a class="nav-link" href="/Order/Shipment">
            <i class="fa fa-truck"></i> Shipments
        </a>
    </li>

   

    @if (!User.IsInRole("Admin"))
    {
        <div class="sidebar-heading">
            Operations
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Operations</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Components:</h6>
                    <a class="collapse-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Parcel" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "PriceTable" ? "active" : "")" href="/Parcel/PriceTable">
                        <i class="fas fa-dollar-sign"></i> Price Table
                    </a>

                    <a class="collapse-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Lookup" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "CreateLookup" ? "active" : "")" href="/Lookup/CreateLookup">
                        <i class="fa fa-cogs"></i> Manage City & Parcel
                    </a>

                    <a class="collapse-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Employee" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "Employee" ? "active" : "")" href="/Employee/Employee">
                        <i class="fas fa-user-plus"></i> Manage Employee
                    </a>
                </div>
            </div>
        </li>
    }


    <div class="sidebar-heading">
        Reports
    </div>

    <!-- Nav Item - Take Order -->
    <li class="nav-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Reports" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "Consignment" ? "active" : "")">
        <a class="nav-link" href="/Reports/Consignment">
            <i class="fas fa-archive"></i> All Consignment
        </a>
    </li>

    <!-- Nav Item - Order Table -->
    <li class="nav-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Reports" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "Riders" ? "active" : "")">
        <a class="nav-link" href="/Reports/Riders">
            <i class="fas fa-user-tie"></i> All Employees
        </a>
    </li>

 

    <li class="nav-item @(ViewContext?.RouteData?.Values?["controller"]?.ToString() == "Reports" && ViewContext?.RouteData?.Values?["action"]?.ToString() == "AllCustomers" ? "active" : "")">
        <a class="nav-link" href="/Reports/AllCustomers">
            <i class="fas fa-users"></i> All Customers
        </a>
    </li>

   @*  <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> *@

</ul>